<%- include("partials/header.ejs") %>
<%- include("partials/sidebar.ejs") %>
<% if (locals.errorMessage) { %>
    <div class="error-pop-up">
        <p><%= locals.errorMessage %></p>
    </div>
<% } %>
<main>
    <% if (locals.data) { %>
    <div class="uv-info">
        <h2>UV Radiation Info</h2> 
        <h3>for <%= locals.data.result.uv_time %></h3>
        <div class="uv-data">
            <div class="uv-data-labels">
                <p>UV Index: </p>
                <p>UV Maximum Index of the Day: </p>
            </div>
            <div class="uv-data-values">
                <p><%= locals.data.result.uv %></p>
                <p><%= locals.data.result.uv_max %></p>
            </div>
        </div>
    </div>
    <% } %>
    <div class="location-input">
        <form action="/location" method="POST">
            <div class="input-row">
                <label for="latitude">Latitude</label>
                <input type="text" name="latitude" value="52.23" required>
            </div>
            <div class="input-row">
                <label for="longitude">Longitude</label>
                <input type="text" name="longitude" value="21.01" required>
            </div>
            <input type="submit" value="Get UV Info">
        </form>
    </div>
</main>
</body>

<%- include("partials/footer.ejs") %>